:root {
  --primary-color: #da253c;
  --secondary-color: #7a7b7c;
}


body {
  background-image: url("/assets/images/pexels-viresh-studio-1444442.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 25%;
  background-size: cover;
  overflow-x: hidden;
}

#home-banner {
  background-image: url("/assets/images/pexels-viresh-studio-1444442.jpg");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
}

#home-banner::before {
  content: "";
  position: absolute;
  top: 4em;
  left: 4em;
  width: 100px;
  height: 160px;
  background: url("/assets/images/ganpati.png") no-repeat;
  background-size: 100px;
}

#hero-section > div,
#wish-section > div {
    background-image: url('https://i.imghippo.com/files/CarlD1728556588.jpg'); 
    background-size: cover;         /* Ensures the image covers the entire area */
    background-position: center;    /* Centers the image */
    background-repeat: no-repeat;   /* Prevents the image from repeating */
    filter: brightness(1.1) contrast(1.2);
    opacity: 1;                  
}

#hero-section h1 {
  font-size: 4rem;
}

#show-invitation {
  background: linear-gradient(var(--primary-color), darkred);
  padding: 0.6em 1.5em;
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.primary-border {
  border: 1px solid var(--primary-color);
}

.timer {
  font-size: 4rem;
}

.section-title {
  font-size: 4rem;
  color: var(--primary-color);
}

.profile-container img {
  width: 380px;
  height: 380px;
  object-fit: contain;
  border-radius: 50%;
  background: brown;
}

.animated {
  opacity: 0;
  transition: opacity 0.6s ease-out, translate 0.6s ease-out;
}

.animated.top {
  translate: 0 -80px;
}

.animated.bottom {
  translate: 0 80px;
}

.animated.right {
  translate: -50% 0;
}

.animated.left {
  translate: 50% 0;
}

.animated.show {
  opacity: 1;
  translate: 0;
}

.animated.center {
  translate: 50% 0;
}

.image-container {
    position: relative;
    perspective: 1000px; /* Enables 3D space for the flip effect */
}

.image-container img {
    transition: transform 0.6s;
    backface-visibility: hidden; /* Hides the back side of the image when flipped */
}

.image-container:hover img {
    transform: rotateY(180deg); /* Flips the image on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.6s;
    backface-visibility: hidden; /* Hides the overlay when flipped */
}

.image-container:hover .overlay {
    opacity: 1; /* Shows the overlay with text on hover */
}

.text {
  font-family: 'Arial', sans-serif; /* Use a clean, modern font */
  font-size: 16px;                 /* Adjust size as needed */
  color: white;                    /* Text color */
  padding: 20px;                   /* Adds some space around the text */
  text-align: center;              /* Centers the text */
  line-height: 1.5;                /* Increases line height for readability */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Adds depth to the text */
}


@media (width < 768px) {
  #hero-section h1 {
    font-size: 4rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .profile-container img {
    width: 250px;
    height: 250px;
  }

  .animated.center {
    translate: 0% 0;
  }
}

@media (width < 480px) {
  #hero-section h1 {
    font-size: 3rem;
  }

  #family img {
    width: 100px !important;
    height: 100px;
  }
  .animated.center {
    translate: -50% 0;
  }
}

@keyframes fadeInLeft {
  from {
      opacity:0;
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      transform: translatex(0);
  }
}
.in-left {
  animation: fadeInLeft 1s 0.3s both;
}

